# Data Loading

In [73]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.model_selection import train_test_split
import random
from sklearn.impute import KNNImputer
from sklearn.metrics import r2_score
from sklearn import linear_model
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
import scipy.stats as stats

In [74]:
#load data
X = np.load("/Users/jiaweizhang/research/data/X.npy")
Y = np.load("/Users/jiaweizhang/research/data/Y.npy")
Z = np.load("/Users/jiaweizhang/research/data/Z.npy")
M = np.load("/Users/jiaweizhang/research/data/M.npy")

display(pd.DataFrame(X))
display(pd.DataFrame(Y))
display(pd.DataFrame(Z))
display(pd.DataFrame(M))

              0         1         2         3    4
0      0.766472 -1.644463  1.135335  1.647609  0.0
1      1.228147 -0.133635 -0.159909  0.206834  1.0
2      1.526981  1.568491  0.769310  0.693670  0.0
3      0.477432  0.327402  0.300267 -0.691641  0.0
4      1.607284 -1.126374  0.615059  0.591469  1.0
...         ...       ...       ...       ...  ...
19995  0.757626 -0.174572 -1.267520  0.876582  0.0
19996 -0.137899 -0.914321 -0.869284  0.295851  1.0
19997  1.737828  1.498230  0.018937  0.894567  0.0
19998  0.329276 -1.028964  0.561963  0.876246  1.0
19999 -0.348947 -2.682086  0.396122  0.055276  0.0

[20000 rows x 5 columns]

               0          1           2
0      36.975790  23.551939   40.542855
1       7.427683  20.491803   41.315736
2      27.721509  65.341903  304.874363
3       9.646436   4.172816    3.265358
4      35.500065  34.804845   84.133658
...          ...        ...         ...
19995   2.169075   2.442815   -0.196697
19996  -1.731654  -2.343015   -0.000662
19997  25.559103  60.395742  252.374515
19998   7.545427  14.749494   23.554173
19999 -18.444548 -10.636283   26.007413

[20000 rows x 3 columns]

         0
0      1.0
1      0.0
2      0.0
3      1.0
4      1.0
...    ...
19995  0.0
19996  0.0
19997  0.0
19998  0.0
19999  0.0

[20000 rows x 1 columns]

         0    1    2
0      0.0  0.0  0.0
1      0.0  0.0  0.0
2      0.0  0.0  0.0
3      0.0  0.0  0.0
4      0.0  0.0  0.0
...    ...  ...  ...
19995  0.0  0.0  0.0
19996  0.0  0.0  1.0
19997  0.0  0.0  0.0
19998  0.0  0.0  0.0
19999  0.0  0.0  1.0

[20000 rows x 3 columns]

# One shot framework

### Randomly split one dataframe to two datasets
split_df takes a pandas DataFrame as input and randomly splits it into two separate DataFrames with a specified proportion of the data in each split. The function shuffles the indices randomly and splits the DataFrame using the shuffled indices. It returns the two separate DataFrames as output.

In [75]:
def split_df(df):
    # Set the proportion of data to be split
    split_proportion = 0.5

    # Set a random seed for reproducibility
    random.seed(10)

    # Get the indices for the split
    indices = df.index.tolist()
    num_rows = len(df)
    split_index = int(num_rows * split_proportion)

    # Shuffle the indices randomly
    random.shuffle(indices)

    # Get the randomly selected rows for each split
    split1_indices = indices[:split_index]
    split2_indices = indices[split_index:]

    # Split the original DataFrame into two separate DataFrames
    df1 = df.loc[split1_indices]
    df2 = df.loc[split2_indices]
    
    return df1,df2

### T-test for T(Z,Y)
t-value of T(Z,Y), where Z is a treatment indicator and Y is the effect, you can use a two-sample t-test

In [76]:
def T(G, df):
    
    # Get the imputed data Y and indicator Z
    df_imputed = G.transform(df)
    Y_pred = df_imputed[:, Z.shape[1] + X.shape[1]:df_imputed.shape[1]]
    Z_shuffled = df_imputed[:, 0]

    # Get the t-statistics for T(Z,Y)
    treatment = Y_pred[Z_shuffled == 1].flatten()
    control = Y_pred[Z_shuffled == 0].flatten()

    t, p = stats.ttest_ind(treatment, control, equal_var=True)

    print(t,p)
    return t

## One Short Framework

In [77]:
def one_shot_test(Z, X, M, Y, G1, G2, L=10000):
    """
    A one-shot framework for testing H_0.

    Args:
    Z: 2D array of observed treatment indicators
    X: 2D array of observed covariates
    M: 2D array of observed missing indicators
    Y: 2D array of observed values for K outcomes
    G1: a function that takes (Z, X, M, Y_k) as input and returns the imputed value for outcome k
    G2: a function that takes (Z, X, M, Y_k) as input and returns the imputed value for outcome k
    T: a function that takes (Z, Y_k) as input and returns the test statistic for outcome k
    L: number of Monte Carlo simulations (default is 10000)

    Returns:
    p1: 1D array of exact p-values for testing Fisher's sharp null in part 1
    p2: 1D array of exact p-values for testing Fisher's sharp null in part 2
    """
    # create data a whole data frame
    Y_masked = np.ma.masked_array(Y, mask=M)
    Y_masked = Y_masked.filled(np.nan)
    df = pd.DataFrame(np.concatenate((Z, X, Y_masked), axis=1))
    
    # randomly split the data into two parts
    df1, df2 = split_df(df)

    # impute the missing values and calculate the observed test statistics in part 1
    G1.fit(df1)
    t1_obs = T(G1, df1)

    # impute the missing values and calculate the observed test statistics in part 2
    G2.fit(df2)
    t2_obs = T(G2, df2)

    # simulate data and calculate test statistics
    t1_sim = np.zeros(L)
    t2_sim = np.zeros(L)
    for l in range(L):
        # simulate treatment indicators in parts 1 and 2
        Z_sim = np.random.binomial(1, 0.5, df.shape[0]).reshape(-1, 1)
        df_sim = pd.DataFrame(np.concatenate((Z_sim, X, Y_masked), axis=1))
        
        #display(pd.DataFrame(df_sim))
        # split the simulated data into two parts
        df1_sim, df2_sim = split_df(df_sim)
        # get the test statistics in part 1
        t1_sim[l] = T(G1, df1_sim)

        # get the test statistics in part 2
        t2_sim[l] = T(G2, df2_sim)

    # calculate exact p-values for each outcome
    p1 = np.mean(t1_sim >= t1_obs, axis=0)
    p2 = np.mean(t2_sim >= t2_obs, axis=0)
    
    return p1, p2

# Test the framework

In [78]:
#KNNimputer
print("One-shot test for Fisher's sharp null")
KNNimputer = KNNImputer(n_neighbors=7)
p1, p2 = one_shot_test(Z, X, M, Y, G1=KNNimputer, G2=KNNimputer)
print("p-values for part 1:", p1)
print("p-values for part 2:", p2)

One-shot test for Fisher's sharp null
1.041316735611151 0.29773696420063855
1.2474082984166261 0.21225756335154783
0.10446870988156147 0.9167980966973948
-1.6389959854691631 0.10122458229833212
0.2655165667620165 0.7906133738360384
1.302332633806322 0.19281269913091195
-0.9273408196703147 0.3537570677171119
0.5129863261232325 0.6079646632339663
-1.342617922723884 0.17940588323352855
0.3871764853624275 0.6986283038390271
-2.3104543335595062 0.020869763891054344
-0.5713321962404265 0.5677787613606085
1.8587144155204438 0.0630774155799868
-0.557500165692882 0.5771899057600232
0.6162465721315775 0.5377364712372503
0.37801402435489806 0.7054228503945599
-0.7446264411719741 0.4565034120143764
-0.2909106980596362 0.7711216303120332
2.029171831645496 0.04244960334891089
-0.1423137442359089 0.8868331464396408
0.4228361957145469 0.6724178080547887
1.45522401130587 0.14561771959124142
-1.5279266518923995 0.12654129356871416
-0.668498845160973 0.5038203625810267
-0.232958365651904 0.81579532512628
-0.7805959221711107 0.43504635036496364
-0.6315967020695853 0.5276552548704299
0.711030895950176 0.47707061869955314
-2.3468861911191676 0.018937503555294184
-0.07710849827292228 0.9385377467339022
-1.6433087893535476 0.10032954075572768
2.004264249571273 0.045050733621697245
0.4812574040704459 0.6303370772206146

KeyboardInterrupt: